
* {
  background-color: grey;
  font-family: 'VT323', monospace !important;
  color:  #33ff00;
  text-align: center;
  margin: 0 auto;
  /* disable highlighting in all browsers */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
          supported by Chrome, Edge, Opera and Firefox */
}

body, html {
  margin: 0;
}

canvas {
  display: block;/* animation for button div */
}

div {
   /* border: 1px dotted red; */
}
/* blank div at top of screen */
#header-spacing {
  height: 85px;
}

/* div that he canvas is in */
#canvas-container {
  width: 800px;
  height: 600px;
  position: relative;
  
}

/* HTML canvas */
#game-canvas {
  width: 800px;
  height: 600px;
  position: absolute;
  background-color:black;
  opacity: 90%;
  z-index: 0;
  border: 3px solid green;
  border-radius: 25px;
  cursor: default;
}

/* stores title text */
#title-container {
  background-color: rgba(0, 0, 0, 0);
  /* border: 1px dotted red; */
  height: 125px;
  width: 800px;
  position: absolute;
  top: 16%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1;
  display: visible;
}

/* for title text */
#title-text {
  background-color: rgba(0, 0, 0, 0);
  color:  rgb(51, 255, 0, .9);
  font-size: 110px;
  font-family: 'Bungee Inline' !important;

}
/* makes bg see through */
.HUD-text {
  background-color: rgba(0, 0, 0, 0);
}

/*scoreboard on lower right of screen*/
#score {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  height: 50px;
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* border: 1px dotted red; */
  text-align: left;
}

/* class for scoreboard text */
.score-text {
  text-align: center;
}
/* info HUD on lower left */
#info {
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  width: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
/* nav computer display */
#nav-computer {
  background-color: rgba(0, 0, 0, .5);
  height: 200px;
  width: 300px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border: 3px solid green;
  border-radius: 25px;
  z-index: 1;
  visibility: visible;
}

/* emergency alert text */
#emergency-flash {
  color: red;
}

/* auto repair div*/
#sector-container{
  background-color: rgba(0, 0, 0, 0);
  height: 100px;
  width: 300px;
  position: absolute;
  top: 53%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
  visibility: hidden;
}

/* auto repair div*/
#auto-repair-container {
  background-color: rgba(0, 0, 0, 0);
  height: 90px;
  width: 300px;
  position: absolute;
  top: 70%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
  visibility: hidden;
}
/* rules for auto repair text */
#sheild-repair-text {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  color: blue;
}
#sheild-repair-value {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  color: red;
}
#hyperdrive-repair-text {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
}
#hyperdrive-repair-value {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  color: red;
}

#manual-flight-message {
  text-align: center;
  width: 300px;
  position: absolute;
  margin: 0 auto;
  bottom: 1px;
}

/* nav computer button div */
#manual-flight-button {
  background-color: rgba(0, 0, 0, 0);
  height: 75px;
  width: 130px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
  visibility: visible;
  box-shadow: 0 9px #999;
  border: 1px solid #999; 
  outline: none;
}
/* animation for button div */
#manual-flight-button:hover {
background-color:rgba(128, 128, 128, .5);
cursor: pointer; 
}
/* animation for button div */
#manual-flight-button:active {
  background-color:rgba(128, 128, 128, 0);
  cursor: pointer; 
  box-shadow: 0 4px #666;
  top: 51%;
}
/* error messages class */
.error {
  color: red; 
  background-color: rgba(0, 0, 0, 0);
}
/* error messages class */
.warning {
  color: yellow; 
  background-color: rgba(0, 0, 0, 0);
}

#scoreboard-container {
  background-color: rgba(0, 0, 0, 0);
  height: 200px;
  width: 300px;
  position: absolute;
  top: 100%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border: none;
  border-radius: 25px;
  z-index: 2;
  visibility: hidden;
}